#bio-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 15em;
}

h3{
    color: #2f6bb4;
}

.bio-section{
    align-items: center;
    text-align: center;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.img-container{
    margin: auto;
    width: 200px;
    height: 200px;
}

.img-container img{
    width: inherit;
    height: inherit;
}